body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background: url('./rps.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 30px;
}

#opponent-choice {
    width: 240px;
    height: 240px;
    margin-top: 10px;
}

#your-choice {
    width: 240px;
    height: 240px;
    margin-top: 10px;
}

#choices {
    width: 240px;
    height: 80px;
    margin: 0 auto;
    margin-top: 10px;
}

#choices img {
    width: 80px;
    height: 80px;
}